/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    background: radial-gradient(circle, rgba(6,53,177,0.6) 0%, rgba(9,43,142,0.7) 29%, rgba(6,24,84,0.8) 62%, rgba(0,0,0,0.9) 100%); 
} */

body {
    margin: 0;
    padding: 0;
    background-image: url("https://example.com/background.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: -1;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.navbar ul {
    margin: 0;
    padding: 0;
    padding-right: 20px;
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
}

.navbar li {
    margin: 0 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.section {
    height: 100vh;
    padding: 50px 80px;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: #fff;
}

#inicio {
    background: radial-gradient(circle, rgba(6, 53, 177, 0.6) 0%, rgba(9, 43, 142, 0.7) 29%, rgba(6, 24, 84, 0.8) 62%, rgba(0, 0, 0, 0.9) 100%);
}

#inicio-info {
    display: flex;
    background-color: rgba(255, 255, 255, 0.3);
}

#imagen-perfil {
    width: 380px;
    height: 400px;
}

#inicio-imagen-perfil,
#inicio-info-perfil {
    padding: 20px 20px 0px 20px;
}

#inicio-info-perfil {
    align-items: center;
    justify-content: center;
}

#inicio-info-perfil h2{
    background-color: rgba(6, 53, 177, 0.6);
}

/* ------------------------------------Solo el boton */
button {
    appearance: none;
    background-color: transparent;
    border: 0.125em solid #1A1A1A;
    border-radius: 0.9375em;
    box-sizing: border-box;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 16px;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 3.75em;
    min-width: 0;
    outline: none;
    padding: 1em 2.3em;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    will-change: transform;
   }
   
   button:disabled {
    pointer-events: none;
   }
   
   button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
   }
   
   button:active {
    box-shadow: none;
    transform: translateY(0);
   }



   /* --------------------------------- */


p {
    font-size: 12px;
    text-transform: none;
}

.section-image {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.section-image img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
}

.skill-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 50px;
}

.skill-icons img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin: 10px;
}

.card {
    border: 1px solid #333;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.card-image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.card-title {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-description {
    font-size: 16px;
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

h1,h2,h3{
    font-family: 'BrushLetteringOneBoldItalic';
    font-weight: bold;
}

p{
    font-family: 'CarlitoRegular';
    font-weight: normal;
    font-style: normal;
}


/* -------------------------Proyectos--------------------- */
#proyectos{
    height: 150vh;
}

#proyectos-container{
    display: flex;
    justify-content: space-around;
    margin: 40px 20px 20px 20px;
}

.card-negras {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: #212121;
    box-shadow: 15px 15px 30px rgb(25, 25, 25),
                -5px -5px 30px rgb(60, 60, 60);
}

.card-blancas {
    width: 190px;
    height: 254px;
    border-radius: 30px;
    background: rgb(236, 236, 236);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
   }